body {
    font-family: 'Arial', sans-serif;
    background-color: #ddd;
    margin: 0;
    padding-top: 50px; /* Espacio en la parte superior */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    align-items: center;
}

.mac-frame {
    flex-shrink: 0;
    width: 600px;
    background-color: #eee;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.mac-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin-bottom: 20px;
}

.mac-close, .mac-minimize, .mac-expand {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    border-radius: 50%;
}

.mac-close {
    background-color: #FF5F56;
}

.mac-minimize {
    background-color: #FFBD2E;
}

.mac-expand {
    background-color: #27C93F;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.input-group {
    margin-bottom: 20px;
    width: 50%; /* Reducción del ancho */
}

input, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    background-color: #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #aaa;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #888;
}

.result {
    margin-top: 20px;
    color: #000;
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px; /* Estilización del contenedor de resultados */
}

.result-item {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable-container {
    max-height: 400px;
    overflow-y: auto;
}
